#main{
    background-color:floralwhite;
  
    
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 50px;
    color:rgb(12, 29, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    
    margin-left: 200px;
    display: grid;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
    background-color: var(--secondary-light);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   
}

#body{
    display: flex;
    align-items: flex-start;
    
}

.button{
    margin-bottom: 10px;
    margin-left: 150px;
}

#colorPicker{
    margin-top: 100px;
    
}

#favcolor{
    width: 35px;
    height: 30px;
    border: none;
    overflow: hidden;
}

.divShadow{
    
    border-style: solid;
    border-color: black;
    user-select: none;
    
    
}

#size-value{
       
    font-weight: bold;
}